In [31]:
import nltk
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re

In [23]:
latlib_df = pd.read_pickle("/Users/francesharrington/Documents/ling1340/Latin-Vocabulary-Analysis/data/latinlibrary_data.pkl")

In [24]:
#here's some of the data:
latlib_df.head()

,title,text,tokens,token_count
0,Valerius Flaccus: Liber VIII,VALERI FLACCI ARGONAVTICA LIBER VIII At trepid...,"[VALERI, FLACCI, ARGONAVTICA, LIBER, VIII, At,...",3698
1,Valerius Flaccus: Liber VII,VALERI FLACCI ARGONAVTICA LIBER VII Te quoque ...,"[VALERI, FLACCI, ARGONAVTICA, LIBER, VII, Te, ...",5196
2,Valerius Flaccus: Liber VI,VALERI FLACCI ARGONAVTICA LIBER VI At vigil is...,"[VALERI, FLACCI, ARGONAVTICA, LIBER, VI, At, v...",5709
3,Varro: Lingua Latina X,M. TERENTI VARRONIS DE LINGUA LATINA LIBER X I...,"[M., TERENTI, VARRONIS, DE, LINGUA, LATINA, LI...",6064
4,Valerius Flaccus: Liber II,VALERI FLACCI ARGONAVTICA LIBER II Interea sce...,"[VALERI, FLACCI, ARGONAVTICA, LIBER, II, Inter...",5056

Here's some basic info on the data contained in latlib_df:

In [25]:
#overall shape of the dataframe:
latlib_df.shape

(673, 4)

In [26]:
latlib_df.describe()

        token_count
count    673.000000
mean    6334.312036
std     5560.343894
min        0.000000
25%     1683.000000
50%     5581.000000
75%     8584.000000
max    38414.000000

In [27]:
latlib_df.info()
#good! no null objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 673 entries, 0 to 672
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        673 non-null    object
 1   text         673 non-null    object
 2   tokens       673 non-null    object
 3   token_count  673 non-null    int64
dtypes: int64(1), object(3)
memory usage: 21.2+ KB

In [47]:
#gladius:
gladius = latlib_df[(latlib_df.text.str.contains(pat = 'gladius', case=False)) | (latlib_df.text.str.contains(pat = 'gladii', case=False)) | (latlib_df.text.str.contains(pat = 'gladi', case=False)) | (latlib_df.text.str.contains(pat = 'gladio', case=False)) | (latlib_df.text.str.contains(pat = 'gladium', case=False)) | (latlib_df.text.str.contains(pat = 'gladie', case=False)) | (latlib_df.text.str.contains(pat = 'gladiorum', case=False)) | (latlib_df.text.str.contains(pat = 'gladiis', case=False)) | (latlib_df.text.str.contains(pat = 'gladios', case=False))]

In [48]:
#ferrum:
ferrum = latlib_df[(latlib_df.text.str.contains(pat = 'ferrum', case=False)) | (latlib_df.text.str.contains(pat = 'ferri', case=False)) | (latlib_df.text.str.contains(pat = 'ferro', case=False)) | (latlib_df.text.str.contains(pat = 'ferra', case=False)) | (latlib_df.text.str.contains(pat = 'ferrorum', case=False)) | (latlib_df.text.str.contains(pat = 'ferris', case=False))]

In [49]:
#mucro:
mucro = latlib_df[(latlib_df.text.str.contains(pat = 'mucro', case=False)) | (latlib_df.text.str.contains(pat = 'mucronis', case=False)) | (latlib_df.text.str.contains(pat = 'mucroni', case=False)) | (latlib_df.text.str.contains(pat = 'mucronem', case=False)) | (latlib_df.text.str.contains(pat = 'mucrone', case=False)) | (latlib_df.text.str.contains(pat = 'mucrones', case=False)) | (latlib_df.text.str.contains(pat = 'mucronum', case=False)) | (latlib_df.text.str.contains(pat = 'mucronibus', case=False))]

In [50]:
#ensis:
ensis = latlib_df[(latlib_df.text.str.contains(pat = 'ensis', case=False)) | (latlib_df.text.str.contains(pat = 'ensi', case=False)) | (latlib_df.text.str.contains(pat = 'ensem', case=False)) | (latlib_df.text.str.contains(pat = 'ense', case=False)) | (latlib_df.text.str.contains(pat = 'enses', case=False)) | (latlib_df.text.str.contains(pat = 'ensium', case=False)) | (latlib_df.text.str.contains(pat = 'ensibus', case=False))]

In [51]:
#capulus:
capulus = latlib_df[(latlib_df.text.str.contains(pat = 'capulus', case=False)) | (latlib_df.text.str.contains(pat = 'capuli', case=False)) | (latlib_df.text.str.contains(pat = 'capulo', case=False)) | (latlib_df.text.str.contains(pat = 'capulum', case=False)) | (latlib_df.text.str.contains(pat = 'capulorum', case=False)) | (latlib_df.text.str.contains(pat = 'capulis', case=False)) | (latlib_df.text.str.contains(pat = 'capulos', case=False))]